

html{
    height: 100%;
}

body {
    background: #dedede;
    min-height: 100%;
}


.cursor-pointer {
    cursor: pointer;
}

.inset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #bbbbbb #dadada #dadada;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-right: 1px solid #dadada;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset, 0 1px 0 #dadada;
    overflow: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.nav-tabs-custom >.nav-tabs > li.header > a {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;
}

.btn-box-tool-active {
    border-color: #bbbbbb #dadada #dadada;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
}

.btn-app {
    min-width: 70px;
    padding: 10px 10px;
    height: 55px;
}

.skin-purple .main-header .navbar {
        background:linear-gradient(to right, #e6e1df 0%, #b74141 0%, #c74c4c 120%, #ffffff 100%) !important;
    }

.main-header {
        background: linear-gradient(to right, #e6e1df 0%, #b74141 0%, #c74c4c 120%, #ffffff 100%) !important;
}

.skin-purple .main-header .logo {
    background-color: inherit;
}

.skin-purple .main-header .navbar .sidebar-toggle:hover {
    background-color: rgba(136, 18, 120, 0.4);
}
.skin-purple .main-header li.user-header{
background: linear-gradient(to right, #bf7d67, #c67620 104%, #72168D 72%) !important;
}

.skin-purple .main-header .logo:hover{
    background-color: rgba(136, 18, 120, 0.4);
}

.sidebar-menu .fa {
    font-size:18px !important;
}

pre {
    color: red;
}

.box-footer {
    padding: 5px 0 0 0 !important;
}

.kl-card > .kl-card-block.kl-md {
    height: 128px !important;
}
.box-widget {
    margin-top: 5px !important;
}
/* profile card css from his point */

.kl-card {
    margin-bottom: 15px;
}

.kl-card > .kl-card-block {
    height: 3px;
}
.kl-card > .kl-card-block.kl-xs {
    height: 15px;
}
.kl-card > .kl-card-block.kl-sm {
    height: 50px;
}
.kl-card > .kl-card-block.kl-md {
    height: 100px;
}
.kl-card > .kl-card-block.kl-lg {
    height: 200px;
}
.kl-card > .kl-card-block.kl-xl {
    height: 250px;
}
.kl-card > .kl-card-block.kl-xxl {
    height: 300px;
}
.kl-card > .kl-card-block {
    background: #fff;
}
.kl-card .kl-card-block, .kl-card .card-block {
    position:relative;
    z-index:99;
}

.kl-card > .kl-card-block > .kl-card-item, .kl-card > .card-block > .kl-card-item {
    position: absolute;
    display:block;
    background: none;
    padding: 3px;
    margin: auto auto;
}

.kl-card-block.kl-slide-out, .kl-card-block.kl-slide-in, .kl-card-block.kl-overlay { /* -- Hide overflow if we're running sliders -- */
    overflow: hidden;
}

.kl-card-block > .kl-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.kl-card-block > .kl-background > img {
    width: 100%;
    height: 100%;
}
.kl-card-block > .kl-card-item {
    z-index: 2;
}

.kl-card-avatar {
    background: none;
    padding: 0;
    margin: 0;
}

.kl-card-block > .kl-card-avatar {
    z-index: 4;
    position: absolute;
    display:block;
}

.kl-card-avatar img {
    width: 100px;
}
.kl-card-avatar.kl-xs, .kl-card-avatar.kl-xs > img {
    width: 32px;
}
.kl-card-avatar.kl-sm, .kl-card-avatar.kl-sm > img {
    width: 48px;
}
.kl-card-avatar.kl-md, .kl-card-avatar.kl-md > img {
    width: 64px;
}
.kl-card-avatar.kl-lg, .kl-card-avatar.kl-lg > img {
    width: 86px;
}
.kl-card-avatar.kl-xl, .kl-card-avatar.kl-xl > img {
    width: 100px;
}

.kl-pt {
    top: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.kl-ptl {
    top: 0;
    left: 0;
    margin:auto;
}
.kl-ptr {
    top: 0;
    right: 0;
    margin:auto;
    text-align:right;
}
.kl-pb {
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.kl-pbl {
    bottom: 0;
    left: 0;
    margin:auto;
}
.kl-pbr {
    bottom: 0;
    right: 0;
    margin:auto;
    text-align:right;
}
.kl-pl {
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.kl-pr {
    right: 0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    text-align:right;
}
.kl-pm {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.kl-plo, .kl-xl.kl-plo {left: -50px;}
.kl-lg.kl-plo {left: -43px;}
.kl-md.kl-plo {left: -32px;}
.kl-sm.kl-plo {left: -24px;}
.kl-xs.kl-plo {left: -16px;}
.kl-pro, .kl-xl.kl-pro {right: -50px;}
.kl-lg.kl-pro {right: -43px;}
.kl-md.kl-pro {right: -32px;}
.kl-sm.kl-pro {right: -24px;}
.kl-xs.kl-pro {right: -16px;}
.kl-pto, .kl-xl.kl-pto {top: -50px;}
.kl-lg.kl-pto {top: -43px;}
.kl-md.kl-pto {top: -32px;}
.kl-sm.kl-pto {top: -24px;}
.kl-xs.kl-pto {top: -16px;}
.kl-pbo, .kl-xl.kl-pbo {bottom: -50px;}
.kl-lg.kl-pbo {bottom: -43px;}
.kl-md.kl-pbo {bottom: -32px;}
.kl-sm.kl-pbo {bottom: -24px;}
.kl-xs.kl-pbo {bottom: -16px;}

.kl-card-social {
    background: none;
    padding: 3px;
    margin: auto auto;
}
.kl-card-social a {
    display: inline-block;
    margin: 0 -1px;
}
.kl-card-social a, .kl-card-social img {
    width: 28px;
}

.kl-card-social.kl-sm a, .kl-card-social.kl-sm img {
    width: 24px;
}
.kl-card-social.kl-lg a, .kl-card-social.kl-lg img {
    width: 32px;
}

.kl-card-social.kl-pt {
    text-align:center;
}
.kl-card-social.kl-pb {
    text-align:center;
}
.kl-card-social.kl-v {
    width: 28px;
}
.kl-card-social.kl-sm.kl-v {
    width: 24px;
}
.kl-card-social.kl-lg.kl-v {
    width: 32px;
}
.kl-card-social.kl-v a {
    margin-bottom: 2px;
}
.kl-card-item.kl-w25 {
    width: 25%;
}
.kl-card-item.kl-w33 {
    width: 33%;
}
.kl-card-item.kl-w50 {
    width: 50%;
}
.kl-card-item.kl-w66 {
    width: 66%;
}
.kl-card-item.kl-w75 {
    width: 75%;
}
.kl-card-social.kl-w25 a, .kl-card-social.kl-w33 a, .kl-card-social.kl-w50 a, .kl-card-social.kl-w66 a, .kl-card-social.kl-w75 a, .kl-card-social.kl-h25 a, .kl-card-social.kl-h33 a, .kl-card-social.kl-h50 a, .kl-card-social.kl-h66 a, .kl-card-social.kl-h75 a {
    margin-bottom: 2px;
}

.kl-card-item.kl-h25 {
    height: 25%;
}
.kl-card-item.kl-h33 {
    height: 33%;
}
.kl-card-item.kl-h50 {
    height: 50%;
}
.kl-card-item.kl-h66 {
    height: 66%;
}
.kl-card-item.kl-h75 {
    height: 75%;
}

/** -- OVERLAY STYLES -- **/
.kl-card-overlay {
    position: absolute;
    background: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
}
.kl-card-block > .kl-card-overlay {
    z-index: 3;
}

.kl-card .card-block > .kl-card-overlay { /** -- deal with bootstrap .card-block padding -- **/
    top: 0;
    left: 0;
}

.kl-card.kl-overlay > .kl-card-top.kl-overlay {
    overflow: hidden;
}
.kl-card.kl-overlay > .card-block.kl-overlay {
    overflow: hidden;
}

.kl-card-overlay-item {
    margin:0;
    position:relative;
    padding: 5px;
}
.kl-card-overlay > .kl-card-overlay-item {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
}
.kl-card-overlay.kl-lite > .kl-card-overlay-item {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.25);
}
.kl-card-overlay.kl-dark > .kl-card-overlay-item {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.75);
}

/** -- Single Block -- **/
.kl-card-overlay-block, .kl-card-overlay-item {transition: all 0.5s ease-in-out;}
.kl-card-overlay-block .kl-card-overlay-item {width: 100%;height: 100%;}
.kl-card-overlay-block.kl-top-in {top: -100%;}
.kl-card-overlay-block.kl-inverse.kl-top-in {top: 0;}
.kl-card-overlay-block.kl-right-in {right: -100%;}
.kl-card-overlay-block.kl-inverse.kl-right-in {right: 0;}
.kl-card-overlay-block.kl-bottom-in {bottom: -100%;}
.kl-card-overlay-block.kl-inverse.kl-bottom-in {bottom: 0;}
.kl-card-overlay-block.kl-left-in {left: -100%;}
.kl-card-overlay-block.kl-inverse.kl-left-in {left: 0;}
.kl-overlay:hover .kl-card-overlay-block.kl-top-in, .kl-overlay.hover .kl-card-overlay-block.kl-top-in {top: 0;}
.kl-overlay:hover .kl-card-overlay-block.kl-inverse.kl-top-in:not(.kl-static), .kl-overlay.hover .kl-card-overlay-block.kl-inverse.kl-top-in:not(.kl-static) {top: -100%;}
.kl-overlay:hover .kl-card-overlay-block.kl-right-in, .kl-overlay.hover .kl-card-overlay-block.kl-right-in {right: 0;}
.kl-overlay:hover .kl-card-overlay-block.kl-inverse.kl-right-in:not(.kl-static), .kl-overlay.hover .kl-card-overlay-block.kl-inverse.kl-right-in:not(.kl-static) {right: -100%;}
.kl-overlay:hover .kl-card-overlay-block.kl-bottom-in, .kl-overlay.hover .kl-card-overlay-block.kl-bottom-in {bottom: 0;}
.kl-overlay:hover .kl-card-overlay-block.kl-inverse.kl-bottom-in:not(.kl-static), .kl-overlay.hover .kl-card-overlay-block.kl-inverse.kl-bottom-in:not(.kl-static) {bottom: -100%;}
.kl-overlay:hover .kl-card-overlay-block.kl-left-in, .kl-overlay.hover .kl-card-overlay-block.kl-left-in {left: 0;}
.kl-overlay:hover .kl-card-overlay-block.kl-inverse.kl-left-in:not(.kl-static), .kl-overlay.hover .kl-card-overlay-block.kl-inverse.kl-left-in:not(.kl-static) {left: -100%;}

/** -- Horizontal Split 2 -- **/
.kl-card-overlay-split-h .kl-card-overlay-item {width: 100%;height: 50%;position:absolute;}
.kl-card-overlay-split-h > .kl-card-overlay-item:nth-child(1) {top: -50%;}
.kl-card-overlay-split-h > .kl-card-overlay-item:nth-child(2) {bottom: -50%;}
.kl-card-overlay-split-h.kl-inverse > .kl-card-overlay-item:nth-child(1) {top: 0;}
.kl-card-overlay-split-h.kl-inverse > .kl-card-overlay-item:nth-child(2) {bottom: 0;}
.kl-overlay:hover .kl-card-overlay-split-h .kl-card-overlay-item:nth-child(1), .kl-overlay.hover .kl-card-overlay-split-h .kl-card-overlay-item:nth-child(1) {top: 0;}
.kl-overlay:hover .kl-card-overlay-split-h .kl-card-overlay-item:nth-child(2), .kl-overlay.hover .kl-card-overlay-split-h .kl-card-overlay-item:nth-child(2) {bottom: 0;}
.kl-overlay:hover .kl-card-overlay-split-h.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(1), .kl-overlay.hover .kl-card-overlay-split-h.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(1) {top: -50%;}
.kl-overlay:hover .kl-card-overlay-split-h.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(2), .kl-overlay.hover .kl-card-overlay-split-h.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(2) {bottom: -50%;}

/** -- Horizontal Split 3 -- **/
.kl-card-overlay-split-h-3 .kl-card-overlay-item {width: 100%;height: 33.333333%;position:absolute;}
.kl-card-overlay-split-h-3 > .kl-card-overlay-item:nth-child(1) {top: 0;transition: all 0.3s ease-in-out;}
.kl-card-overlay-split-h-3 > .kl-card-overlay-item:nth-child(2) {top: 33.333333%;transition: all 0.5s ease-in-out;}
.kl-card-overlay-split-h-3 > .kl-card-overlay-item:nth-child(3) {top: 66.666666%;transition: all 0.7s ease-in-out;}
.kl-card-overlay-split-h-3.kl-left-in > .kl-card-overlay-item {left: -100%;}
.kl-card-overlay-split-h-3.kl-right-in > .kl-card-overlay-item{right: -100%;}
.kl-card-overlay-split-h-3.kl-inverse.kl-left-in > .kl-card-overlay-item {left: 0;}
.kl-card-overlay-split-h-3.kl-inverse.kl-right-in > .kl-card-overlay-item{right: 0;}
.kl-overlay:hover .kl-card-overlay-split-h-3.kl-left-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-3.kl-left-in .kl-card-overlay-item {left: 0;}
.kl-overlay:hover .kl-card-overlay-split-h-3.kl-right-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-3.kl-right-in .kl-card-overlay-item {right: 0;}
.kl-overlay:hover .kl-card-overlay-split-h-3.kl-inverse.kl-left-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-3.kl-inverse.kl-left-in:not(.kl-static) .kl-card-overlay-item {left: -100%;}
.kl-overlay:hover .kl-card-overlay-split-h-3.kl-inverse.kl-right-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-3.kl-inverse.kl-right-in:not(.kl-static) .kl-card-overlay-item {right: -100%;}

/** -- Horizontal Split 4 -- **/
.kl-card-overlay-split-h-4 .kl-card-overlay-item {width: 100%;height: 25%;position:absolute;}
.kl-card-overlay-split-h-4 > .kl-card-overlay-item:nth-child(1) {top: 0;transition: all 0.3s ease-in-out;}
.kl-card-overlay-split-h-4 > .kl-card-overlay-item:nth-child(2) {top: 25%;transition: all 0.5s ease-in-out;}
.kl-card-overlay-split-h-4 > .kl-card-overlay-item:nth-child(3) {top: 50%;transition: all 0.7s ease-in-out;}
.kl-card-overlay-split-h-4 > .kl-card-overlay-item:nth-child(4) {top: 75%;transition: all 0.9s ease-in-out;}
.kl-card-overlay-split-h-4.kl-left-in > .kl-card-overlay-item {left: -100%;}
.kl-card-overlay-split-h-4.kl-right-in > .kl-card-overlay-item {right: -100%;}
.kl-card-overlay-split-h-4.kl-inverse.kl-left-in > .kl-card-overlay-item {left: 0;}
.kl-card-overlay-split-h-4.kl-inverse.kl-right-in > .kl-card-overlay-item {right: 0;}
.kl-overlay:hover .kl-card-overlay-split-h-4.kl-left-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-4.kl-left-in .kl-card-overlay-item {left: 0;}
.kl-overlay:hover .kl-card-overlay-split-h-4.kl-right-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-4.kl-right-in .kl-card-overlay-item {right: 0;}
.kl-overlay:hover .kl-card-overlay-split-h-4.kl-inverse.kl-left-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-4.kl-inverse.kl-left-in:not(.kl-static) .kl-card-overlay-item {left: -100%;}
.kl-overlay:hover .kl-card-overlay-split-h-4.kl-inverse.kl-right-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-h-4.kl-inverse.kl-right-in:not(.kl-static) .kl-card-overlay-item {right: -100%;}

/** -- Vertical Split 2 -- **/
.kl-card-overlay-split-v .kl-card-overlay-item {width: 50%;height: 100%;position:absolute;}
.kl-card-overlay-split-v > .kl-card-overlay-item:nth-child(1) {left: -50%;}
.kl-card-overlay-split-v > .kl-card-overlay-item:nth-child(2) {right: -50%;}
.kl-card-overlay-split-v.kl-inverse > .kl-card-overlay-item:nth-child(1) {left: 0;}
.kl-card-overlay-split-v.kl-inverse > .kl-card-overlay-item:nth-child(2) {right: 0;}
.kl-overlay:hover .kl-card-overlay-split-v .kl-card-overlay-item:nth-child(1), .kl-overlay.hover .kl-card-overlay-split-v .kl-card-overlay-item:nth-child(1) {left: 0;}
.kl-overlay:hover .kl-card-overlay-split-v .kl-card-overlay-item:nth-child(2), .kl-overlay.hover .kl-card-overlay-split-v .kl-card-overlay-item:nth-child(2) {right: 0;}
.kl-overlay:hover .kl-card-overlay-split-v.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(1), .kl-overlay.hover .kl-card-overlay-split-v.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(1) {left: -50%;}
.kl-overlay:hover .kl-card-overlay-split-v.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(2), .kl-overlay.hover .kl-card-overlay-split-v.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(2) {right: -50%;}

/** -- Vertical Split 3 -- **/
.kl-card-overlay-split-v-3 .kl-card-overlay-item {width: 33.333333%;height: 100%;position:absolute;}
.kl-card-overlay-split-v-3 > .kl-card-overlay-item:nth-child(1) {left: 0;transition: all 0.3s ease-in-out;}
.kl-card-overlay-split-v-3 > .kl-card-overlay-item:nth-child(2) {left: 33.333333%;transition: all 0.5s ease-in-out;}
.kl-card-overlay-split-v-3 > .kl-card-overlay-item:nth-child(3) {left: 66.666666%;transition: all 0.7s ease-in-out;}
.kl-card-overlay-split-v-3.kl-top-in > .kl-card-overlay-item {top: -100%;}
.kl-card-overlay-split-v-3.kl-bottom-in > .kl-card-overlay-item {bottom: -100%;}
.kl-card-overlay-split-v-3.kl-inverse.kl-top-in > .kl-card-overlay-item {top: 0;}
.kl-card-overlay-split-v-3.kl-inverse.kl-bottom-in > .kl-card-overlay-item {bottom: 0;}
.kl-overlay:hover .kl-card-overlay-split-v-3.kl-top-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-3.kl-top-in .kl-card-overlay-item {top: 0;}
.kl-overlay:hover .kl-card-overlay-split-v-3.kl-bottom-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-3.kl-bottom-in .kl-card-overlay-item {bottom: 0;}
.kl-overlay:hover .kl-card-overlay-split-v-3.kl-inverse.kl-top-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-3.kl-inverse.kl-top-in:not(.kl-static) .kl-card-overlay-item {top: -100%;}
.kl-overlay:hover .kl-card-overlay-split-v-3.kl-inverse.kl-bottom-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-3.kl-inverse.kl-bottom-in:not(.kl-static) .kl-card-overlay-item {bottom: -100%;}

/** -- Vertical Split 4 -- **/
.kl-card-overlay-split-v-4 .kl-card-overlay-item {width: 25%;height: 100%;position:absolute;}
.kl-card-overlay-split-v-4 > .kl-card-overlay-item:nth-child(1) {left: 0;transition: all 0.3s ease-in-out;}
.kl-card-overlay-split-v-4 > .kl-card-overlay-item:nth-child(2) {left: 25%;transition: all 0.5s ease-in-out;}
.kl-card-overlay-split-v-4 > .kl-card-overlay-item:nth-child(3) {left: 50%;transition: all 0.7s ease-in-out;}
.kl-card-overlay-split-v-4 > .kl-card-overlay-item:nth-child(4) {left: 75%;transition: all 0.9s ease-in-out;}
.kl-card-overlay-split-v-4.kl-top-in > .kl-card-overlay-item {top: -100%;}
.kl-card-overlay-split-v-4.kl-bottom-in > .kl-card-overlay-item {bottom: -100%;}
.kl-card-overlay-split-v-4.kl-inverse.kl-top-in > .kl-card-overlay-item {top: 0;}
.kl-card-overlay-split-v-4.kl-inverse.kl-bottom-in > .kl-card-overlay-item {bottom: 0;}
.kl-overlay:hover .kl-card-overlay-split-v-4.kl-top-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-4.kl-top-in .kl-card-overlay-item {top: 0;}
.kl-overlay:hover .kl-card-overlay-split-v-4.kl-bottom-in .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-4.kl-bottom-in .kl-card-overlay-item {bottom: 0;}
.kl-overlay:hover .kl-card-overlay-split-v-4.kl-inverse.kl-top-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-4.kl-inverse.kl-top-in:not(.kl-static) .kl-card-overlay-item {top: -100%;}
.kl-overlay:hover .kl-card-overlay-split-v-4.kl-inverse.kl-bottom-in:not(.kl-static) .kl-card-overlay-item, .kl-overlay.hover .kl-card-overlay-split-v-4.kl-inverse.kl-bottom-in:not(.kl-static) .kl-card-overlay-item {bottom: -100%;}

/** -- 4 Quarter Split -- **/
.kl-card-overlay-split-q .kl-card-overlay-item {width: 50%;height: 50%;position:absolute;}
.kl-card-overlay-split-q > .kl-card-overlay-item:nth-child(1) {top: -50%;left: -50%;}
.kl-card-overlay-split-q > .kl-card-overlay-item:nth-child(2) {top: -50%;right: -50%;}
.kl-card-overlay-split-q > .kl-card-overlay-item:nth-child(3) {right: -50%;bottom: -50%;}
.kl-card-overlay-split-q > .kl-card-overlay-item:nth-child(4) {bottom: -50%;left: -50%;}
.kl-overlay:hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(1), .kl-overlay.hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(1) {top: 0;left: 0;}
.kl-overlay:hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(2), .kl-overlay.hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(2) {top: 0;right: 0;}
.kl-overlay:hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(3), .kl-overlay.hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(3) {right: 0;bottom: 0;}
.kl-overlay:hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(4), .kl-overlay.hover .kl-card-overlay-split-q .kl-card-overlay-item:nth-child(4) {bottom: 0;left: 0;}
.kl-card-overlay-split-q.kl-inverse > .kl-card-overlay-item:nth-child(1) {top: 0;left: 0;}
.kl-card-overlay-split-q.kl-inverse > .kl-card-overlay-item:nth-child(2) {top: 0;right: 0;}
.kl-card-overlay-split-q.kl-inverse > .kl-card-overlay-item:nth-child(3) {right: 0;bottom: 0;}
.kl-card-overlay-split-q.kl-inverse > .kl-card-overlay-item:nth-child(4) {bottom: 0;left: 0;}
.kl-overlay:hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(1), .kl-overlay.hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(1) {top: -50%;left: -50%;}
.kl-overlay:hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(2), .kl-overlay.hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(2) {top: -50%;right: -50%;}
.kl-overlay:hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(3), .kl-overlay.hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(3) {right: -50%;bottom: -50%;}
.kl-overlay:hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(4), .kl-overlay.hover .kl-card-overlay-split-q.kl-inverse:not(.kl-static) .kl-card-overlay-item:nth-child(4) {bottom: -50%;left: -50%;}

.kl-overlay:hover .kl-card-overlay.kl-inverse:not(.kl-static), .kl-overlay.hover .kl-card-overlay.kl-inverse:not(.kl-static) {
    pointer-events: none;
}

/** -- FIGURE BLOCKS -- **/
.kl-figure-block {
    text-align:center;
}
.kl-figure-block > .kl-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    color: #696969;
    display:block;
}
.kl-figure-block > .kl-figure {
    font-weight: bold;
    font-size: 1.7em;
    display:block;
}

.kl-card-overlay-split-q .kl-figure-block {
    position:absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.kl-card-overlay.kl-dark .kl-figure-block > .kl-title {
    color: #f8f8f8;
}
.kl-card-overlay.kl-lite .kl-figure-block > .kl-title {
    color: #e8e8e8;
}


/** -- CARD 1 STYLES -- **/
.kl-card-1 .kl-card-avatar.shadow {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.75);
}
.kl-card-1 .kl-card-avatar.shadow-primary {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(2, 117, 216, 0.75);
    -moz-box-shadow:    3px 3px 3px 0px rgba(2, 117, 216, 0.75);
    box-shadow:         3px 3px 3px 0px rgba(2, 117, 216, 0.75);
}
.kl-card-1 .kl-card-avatar.shadow-success {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(92, 184, 92, 0.75);
    -moz-box-shadow:    3px 3px 3px 0px rgba(92, 184, 92, 0.75);
    box-shadow:         3px 3px 3px 0px rgba(92, 184, 92, 0.75);
}
.kl-card-1 .kl-card-avatar.shadow-warning {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(240, 173, 78, 0.75);
    -moz-box-shadow:    3px 3px 3px 0px rgba(240, 173, 78, 0.75);
    box-shadow:         3px 3px 3px 0px rgba(240, 173, 78, 0.75);
}
.kl-card-1 .kl-card-avatar.shadow-danger {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(217, 83, 79, 0.75);
    -moz-box-shadow:    3px 3px 3px 0px rgba(217, 83, 79, 0.75);
    box-shadow:         3px 3px 3px 0px rgba(217, 83, 79, 0.75);
}
.kl-card-1 .kl-card-avatar.shadow-info {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(91, 192, 222, 0.75);
    -moz-box-shadow:    3px 3px 3px 0px rgba(91, 192, 222, 0.75);
    box-shadow:         3px 3px 3px 0px rgba(91, 192, 222, 0.75);
}
.kl-card-4 .card-subtitle {
    color: #2F9DD4;
    margin-bottom: 10px;
}
.kl-card-5 .kl-dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}
.kl-card-5 .kl-dropdown > a {
    color: #fff;
    text-decoration: none;
}
.kl-card-5 .kl-dropdown > a:after{
    display:none;
}

/** -- TEXT STYLES -- **/
.kl-txt-shadow {
    text-shadow: 1px 1px 2px rgba(68, 68, 68, 1);
}
.kl-txt-shadow-l {
    text-shadow: 1px 1px 2px rgba(234, 234, 234, 1);
}

/** -- TRANSITION STYLES -- **/
.kl-card, .kl-card-avatar, .kl-card-avatar img, .kl-card-top, .kl-card-social img, kl-card .kl-card-overlay, .kl-card .kl-figure-block, .kl-card .kl-card-item {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.kl-card *.kl-fast {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.kl-card *.kl-slow {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
   transition-duration: 0.8s;
}


.kl-card .kl-spin, .kl-card .kl-reveal, .kl-card .kl-shine, .kl-card .kl-gray, .kl-card .kl-fade, .kl-card .kl-show, .kl-card .kl-hide, .kl-card .kl-slide-in, .kl-card .kl-slide-out, .kl-card .kl-card-overlay {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
}
.kl-card *.kl-fade {
    background: rgb(232,232,232);
    background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(232,232,232,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 100%);
    background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=0 );
}

.kl-card.kl-fade:hover *.kl-fade.kl-b-primary, .kl-card.kl-fade.hover *.kl-fade.kl-b-primary, .kl-card .kl-fade.kl-b-primary:hover, .kl-card .kl-fade.kl-b-primary.hover {
    background: rgb(2,117,216);
    background: -moz-linear-gradient(top,  rgba(2,117,216,1) 0%, rgba(2,117,216,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(2,117,216,1) 0%,rgba(2,117,216,1) 100%);
    background: linear-gradient(to bottom,  rgba(2,117,216,1) 0%,rgba(2,117,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0275d8', endColorstr='#0275d8',GradientType=0 );
}
.kl-card.kl-fade:hover *.kl-fade.kl-b-success, .kl-card.kl-fade.hover *.kl-fade.kl-b-success, .kl-card .kl-fade.kl-b-success:hover, .kl-card .kl-fade.kl-b-success.hover {
    background: rgb(92,184,92);
    background: -moz-linear-gradient(top,  rgba(92,184,92,1) 0%, rgba(92,184,92,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(92,184,92,1) 0%,rgba(92,184,92,1) 100%);
    background: linear-gradient(to bottom,  rgba(92,184,92,1) 0%,rgba(92,184,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#5cb85c',GradientType=0 );
}
.kl-card.kl-fade:hover *.kl-fade.kl-b-warning, .kl-card.kl-fade.hover *.kl-fade.kl-b-warning, .kl-card .kl-fade.kl-b-warning:hover, .kl-card .kl-fade.kl-b-warning.hover {
    background: rgb(240,173,78);
    background: -moz-linear-gradient(top,  rgba(240,173,7,1) 0%, rgba(240,173,7,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(240,173,7,1) 0%,rgba(240,173,7,1) 100%);
    background: linear-gradient(to bottom,  rgba(240,173,7,1) 0%,rgba(240,173,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ad4e', endColorstr='#f0ad4e',GradientType=0 );
}
.kl-card.kl-fade:hover *.kl-fade.kl-b-danger, .kl-card.kl-fade.hover *.kl-fade.kl-b-danger, .kl-card .kl-fade.kl-b-danger:hover, .kl-card .kl-fade.kl-b-danger.hover {
    background: rgb(217,83,79);
    background: -moz-linear-gradient(top,  rgba(217,83,79,1) 0%, rgba(217,83,79,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(217,83,79,1) 0%,rgba(217,83,79,1) 100%);
    background: linear-gradient(to bottom,  rgba(217,83,79,1) 0%,rgba(217,83,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9534f', endColorstr='#d9534f',GradientType=0 );
}
.kl-card.kl-fade:hover *.kl-fade.kl-b-info, .kl-card.kl-fade.hover *.kl-fade.kl-b-info, .kl-card .kl-fade.kl-b-info:hover, .kl-card .kl-fade.kl-b-info.hover {
    background: rgb(91,192,222);
    background: -moz-linear-gradient(top,  rgba(91,192,222,1) 0%, rgba(91,192,222,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(91,192,222,1) 0%,rgba(91,192,222,1) 100%);
    background: linear-gradient(to bottom,  rgba(91,192,222,1) 0%,rgba(91,192,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc0de', endColorstr='#5bc0de',GradientType=0 );
}
.kl-card.kl-fade:hover *.kl-fade.kl-b-white, .kl-card.kl-fade.hover *.kl-fade.kl-b-white, .kl-card .kl-fade.kl-b-white:hover, .kl-card .kl-fade.kl-b-white.hover {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.kl-card.kl-fade:hover *.kl-fade.kl-b-black, .kl-card.kl-fade.hover *.kl-fade.kl-b-black, .kl-card .kl-fade.kl-b-black:hover, .kl-card .kl-fade.kl-b-black.hover {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

/** -- Reveal -- **/
.kl-card.kl-reveal:hover .kl-reveal, .kl-card.kl-reveal.hover .kl-reveal, .kl-card .kl-reveal:hover, .kl-card .kl-reveal.hover {border-radius: 0;}

/** -- Shine -- **/
.kl-card .kl-shine:not(.kl-card-block) {filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1);}
.kl-card.kl-shine:hover .kl-shine:not(.kl-card-block), .kl-card.kl-shine.hover .kl-shine:not(.kl-card-block),.kl-card-block.kl-shine:hover .kl-shine:not(.kl-card-block), .kl-card-block.kl-shine.hover .kl-shine:not(.kl-card-block), .kl-card .kl-shine:hover:not(.kl-card-block), .kl-card .kl-shine:not(.kl-card-block).hover {filter: none;-webkit-filter: grayscale(0);filter: grayscale(0);}

/** -- Gray -- **/
.kl-card .kl-gray:not(.kl-card-block) {filter: none;-webkit-filter: grayscale(0);filter: grayscale(0);}
.kl-card.kl-gray:hover .kl-gray:not(.kl-card-block), .kl-card.kl-gray.hover .kl-gray:not(.kl-card-block),.kl-card-block.kl-gray:hover .kl-gray:not(.kl-card-block), .kl-card-block.kl-gray.hover .kl-gray:not(.kl-card-block), .kl-card .kl-gray:hover:not(.kl-card-block), .kl-card .kl-gray:not(.kl-card-block).hover {filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1);}


/** -- Spin -- **/
.kl-card.kl-spin:hover .kl-spin:not(.kl-card-block):not(.kl-card-item), .kl-card.kl-spin.hover .kl-spin:not(.kl-card-block):not(.kl-card-item),.kl-card-block.kl-spin:hover .kl-spin:not(.kl-card-block):not(.kl-card-item), .kl-card-block.kl-spin.hover .kl-spin:not(.kl-card-block):not(.kl-card-item), .kl-card .kl-spin:not(.kl-card-block):not(.kl-card-item):hover, .kl-card .kl-spin:not(.kl-card-block):not(.kl-card-item).hover {-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}

/** -- Show -- **/
.kl-card .kl-show:not(.kl-card-block) {opacity: 0;}
.kl-card.kl-show:hover .kl-show:not(.kl-card-block), .kl-card.kl-show.hover .kl-show:not(.kl-card-block),.kl-card-block.kl-show:hover .kl-show:not(.kl-card-block), .kl-card-block.kl-show.hover .kl-show:not(.kl-card-block) {opacity: 1;}

/** -- Hide -- **/
.kl-card .kl-hide:not(.kl-card-block) {opacity: 1;}
.kl-card.kl-hide:hover .kl-hide:not(.kl-card-block), .kl-card.kl-hide.hover .kl-hide:not(.kl-card-block),.kl-card-block.kl-hide:hover .kl-hide:not(.kl-card-block), .kl-card-block.kl-hide.hover .kl-hide:not(.kl-card-block), .kl-card .kl-hide:hover:not(.kl-card-block), .kl-card .kl-hide:not(.kl-card-block).hover {opacity: 0;}

/** -- Slide In -- **/
.kl-pt.kl-slide-in {top: -100%;}
.kl-ptl.kl-slide-in {top: -100%;left:-100%;}
.kl-ptr.kl-slide-in {top: -100%;right:-100%;}
.kl-pb.kl-slide-in {bottom: -100%;}
.kl-pbl.kl-slide-in {bottom: -100%;left:-100%;}
.kl-pbr.kl-slide-in {bottom: -100%;right:-100%;}
.kl-pl.kl-slide-in {left:-100%;}
.kl-pr.kl-slide-in {right:-100%;}
.kl-card.kl-slide-in:hover .kl-pt.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-pt.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-pt.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-pt.kl-slide-in:not(.kl-card-block)  {top: 0;}
.kl-card.kl-slide-in:hover .kl-ptl.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-ptl.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-ptl.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-ptl.kl-slide-in:not(.kl-card-block)  {top: 0;left:0;}
.kl-card.kl-slide-in:hover .kl-ptr.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-ptr.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-ptr.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-ptr.kl-slide-in:not(.kl-card-block)  {top: 0;right:0%;}
.kl-card.kl-slide-in:hover .kl-pb.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-pb.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-pb.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-pb.kl-slide-in:not(.kl-card-block)  {bottom: 0;}
.kl-card.kl-slide-in:hover .kl-pbl.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-pbl.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-pbl.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-pbl.kl-slide-in:not(.kl-card-block)  {bottom: 0;left:0;}
.kl-card.kl-slide-in:hover .kl-pbr.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-pbr.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-pbr.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-pbr.kl-slide-in:not(.kl-card-block)  {bottom: 0;right:0;}
.kl-card.kl-slide-in:hover .kl-pl.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-pl.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-pl.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-pl.kl-slide-in:not(.kl-card-block)  {left: 0;}
.kl-card.kl-slide-in:hover .kl-pr.kl-slide-in:not(.kl-card-block), .kl-card.kl-slide-in.hover .kl-pr.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in:hover .kl-pr.kl-slide-in:not(.kl-card-block), .kl-card-block.kl-slide-in.hover .kl-pr.kl-slide-in:not(.kl-card-block)  {right:0;}

/** -- Slide Out -- **/
.kl-card.kl-slide-out:hover .kl-pt.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-pt.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-pt.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-pt.kl-slide-out:not(.kl-card-block), .kl-card .kl-pt.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-pt.kl-slide-out:not(.kl-card-block).hover  {top: -100%;}
.kl-card.kl-slide-out:hover .kl-ptl.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-ptl.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-ptl.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-ptl.kl-slide-out:not(.kl-card-block), .kl-card .kl-ptl.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-ptl.kl-slide-out:not(.kl-card-block).hover  {top: -100%;left:-100%;}
.kl-card.kl-slide-out:hover .kl-ptr.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-ptr.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-ptr.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-ptr.kl-slide-out:not(.kl-card-block), .kl-card .kl-ptr.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-ptr.kl-slide-out:not(.kl-card-block).hover  {top: -100%;right:-100%;}
.kl-card.kl-slide-out:hover .kl-pb.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-pb.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-pb.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-pb.kl-slide-out:not(.kl-card-block), .kl-card .kl-pb.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-pb.kl-slide-out:not(.kl-card-block).hover  {bottom: -100%;}
.kl-card.kl-slide-out:hover .kl-pbl.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-pbl.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-pbl.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-pbl.kl-slide-out:not(.kl-card-block), .kl-card .kl-pbl.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-pbl.kl-slide-out:not(.kl-card-block).hover  {bottom: -100%;left:-100%;}
.kl-card.kl-slide-out:hover .kl-pbr.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-pbr.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-pbr.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-pbr.kl-slide-out:not(.kl-card-block), .kl-card .kl-pbr.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-pbr.kl-slide-out:not(.kl-card-block).hover  {bottom: -100%;right:-100%;}
.kl-card.kl-slide-out:hover .kl-pl.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-pl.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-pl.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-pl.kl-slide-out:not(.kl-card-block), .kl-card .kl-pl.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-pl.kl-slide-out:not(.kl-card-block).hover  {left: -100%;}
.kl-card.kl-slide-out:hover .kl-pr.kl-slide-out:not(.kl-card-block), .kl-card.kl-slide-out.hover .kl-pr.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out:hover .kl-pr.kl-slide-out:not(.kl-card-block), .kl-card-block.kl-slide-out.hover .kl-pr.kl-slide-out:not(.kl-card-block), .kl-card .kl-pr.kl-slide-out:not(.kl-card-block):hover, .kl-card .kl-pr.kl-slide-out:not(.kl-card-block).hover  {right:-100%;}


/** -- GENERAL STYLES -- **/
.kl-b {
    background: #e8e8e8;
}
.kl-b-primary {
    background: #0275d8;
}
.kl-b-success {
    background: #5cb85c;
}
.kl-b-warning {
    background: #f0ad4e;
}
.kl-b-danger {
    background: #d9534f;
}
.kl-b-info {
    background: #5bc0de;
}
.kl-b-white {
    background: #fff;
}
.kl-b-black {
    background: #000;
}
.kl-b-1 {
    padding: 1px;
}
.kl-b-2 {
    padding: 2px;
}
.kl-b-3 {
    padding: 3px;
}
.kl-b-4 {
    padding: 4px;
}
.kl-b-5 {
    padding: 5px;
}
.kl-b-6 {
    padding: 6px;
}
.kl-b-rounded {
    border-radius: 10px;
}
.kl-b-circle {
    border-radius: 50%;
}
.kl-b-house {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.kl-b-shield {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.kl-b-lemon {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.kl-b-lemon-inverse {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.kl-b-ring {
    border-top-left-radius: 30%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 100%;
}
.kl-b-ring-inverse {
    border-top-left-radius: 100%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 30%;
}
.kl-b-corner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0;
}
.kl-b-corner-inverse {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
}
.kl-shadow {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 3px rgba(50, 50, 50, 0.75);
}
.kl-shadow-t {
    -webkit-box-shadow: 0px -5px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -5px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -5px 5px -1px rgba(50, 50, 50, 0.75);
}
.kl-shadow-r {
    -webkit-box-shadow: 5px 0px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 0px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 0px 5px -1px rgba(50, 50, 50, 0.75);
}
.kl-shadow-b {
    -webkit-box-shadow: 0px 5px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 5px -1px rgba(50, 50, 50, 0.75);
}
.kl-shadow-l {
    -webkit-box-shadow: -5px 0px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -5px 0px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         -5px 0px 5px -1px rgba(50, 50, 50, 0.75);
}
.kl-shadow-br {
    -webkit-box-shadow: 4px 4px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px -1px rgba(50, 50, 50, 0.75);
}
.kl-shadow-bl {
    -webkit-box-shadow: -4px 4px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -4px 4px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         -4px 4px 5px -1px rgba(50, 50, 50, 0.75);
}
.kl-shadow-tl {
    -webkit-box-shadow: -4px -4px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -4px -4px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         -4px -4px 5px -1px rgba(50, 50, 50, 0.75);
}
.kl-shadow-tr {
    -webkit-box-shadow: 4px -4px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px -4px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         4px -4px 5px -1px rgba(50, 50, 50, 0.75);
}

.hw {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.qw {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.tqw {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/* from here UserProfile for influencers research */

@import url('https://fonts.googleapis.com/css?family=Kumar+One');

.btn-default{background:#DFC717; color:#fff; font-weight:700; text-shadow:1px 1px 0 rgba(0,0,0,0.2); font-size:14px;}
.card{box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;}
.card-01 .card-block{position:relative; padding-top:40px;}
.card-01 .badge-box{position:absolute; top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;}
.card-01 .badge-box i{background:#DFC717; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;}
.profile-box{background-size:cover; float:left; width:100%; text-align:center; padding:30px 0; position:relative; overflow:hidden;}
.profile-box:before{filter: blur(10px);background:url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat; background-size:cover; width:120%; position:absolute; content:""; height:120%; left:-10%;top:0;z-index:0;}
.profile-box img{width:170px; height:170px; position:relative; border:5px solid #fff;}
.social-box i {border:1px solid #DFC717; color:#DFC717; width:30px; height:30px; border-radius:50%;line-height:30px;}
.social-box i:hover{background:#DFC717; color:#fff;}
.social-box a{margin: 0 5px;}
.video-foreground{float:left;width:100%; height:500px;}

/*flipper-card*/
.card-flipper {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__back .card{
    width:100%;
    height:65vh;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ff5078;
}

.card__back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-flipper.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-flipper.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card-flipper.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-flipper.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}


/*! =======================================================
                      VERSION  9.8.1
========================================================= */
/*! =========================================================
 * bootstrap-slider.js
 *
 * Maintainers:
 *		Kyle Kemp
 *			- Twitter: @seiyria
 *			- Github:  seiyria
 *		Rohit Kalkur
 *			- Twitter: @Rovolutionary
 *			- Github:  rovolution
 *
 * =========================================================
  *
 * bootstrap-slider is released under the MIT License
 * Copyright (c) 2017 Kyle Kemp, Rohit Kalkur, and contributors
 *
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following
 * conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * ========================================================= */
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 210px;
  height: 20px;
}
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
}
.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}
.slider.slider-horizontal .slider-tick-container {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 20px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  padding-top: 4px;
  display: inline-block;
  text-align: center;
}
.slider.slider-horizontal.slider-rtl .slider-track {
  left: initial;
  right: 0;
}
.slider.slider-horizontal.slider-rtl .slider-tick,
.slider.slider-horizontal.slider-rtl .slider-handle {
  margin-left: initial;
  margin-right: -10px;
}
.slider.slider-horizontal.slider-rtl .slider-tick-container {
  left: initial;
  right: 0;
}
.slider.slider-vertical {
  height: 210px;
  width: 20px;
}
.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  left: 25%;
  top: 0;
}
.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.slider.slider-vertical .slider-track-low,
.slider.slider-vertical .slider-track-high {
  width: 100%;
  left: 0;
  right: 0;
}
.slider.slider-vertical .slider-tick,
.slider.slider-vertical .slider-handle {
  margin-top: -10px;
}
.slider.slider-vertical .slider-tick.triangle,
.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #0480be;
  border-right-color: #0480be;
  margin-left: 0;
  margin-right: 0;
}
.slider.slider-vertical .slider-tick-label-container {
  white-space: nowrap;
}
.slider.slider-vertical .slider-tick-label-container .slider-tick-label {
  padding-left: 4px;
}
.slider.slider-vertical.slider-rtl .slider-track {
  left: initial;
  right: 25%;
}
.slider.slider-vertical.slider-rtl .slider-selection {
  left: initial;
  right: 0;
}
.slider.slider-vertical.slider-rtl .slider-tick.triangle,
.slider.slider-vertical.slider-rtl .slider-handle.triangle {
  border-width: 10px 10px 10px 0;
}
.slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label {
  padding-left: initial;
  padding-right: 4px;
}
.slider.slider-disabled .slider-handle {
  background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
  background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
  background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}
.slider.slider-disabled .slider-track {
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
  cursor: not-allowed;
}
.slider input {
  display: none;
}
.slider .tooltip.top {
  margin-top: -36px;
}
.slider .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}
.slider .hide {
  display: none;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-selection.tick-slider-selection {
  background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
}
.slider-track-low,
.slider-track-high {
  position: absolute;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #337ab7;
  background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
  background-image: -o-linear-gradient(top, #149bdf 0%, #0480be 100%);
  background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  filter: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border: 0px solid transparent;
}
.slider-handle.round {
  border-radius: 50%;
}
.slider-handle.triangle {
  background: transparent none;
}
.slider-handle.custom {
  background: transparent none;
}
.slider-handle.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}
.slider-tick {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: none;
  opacity: 0.8;
  border: 0px solid transparent;
}
.slider-tick.round {
  border-radius: 50%;
}
.slider-tick.triangle {
  background: transparent none;
}
.slider-tick.custom {
  background: transparent none;
}
.slider-tick.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}
.slider-tick.in-selection {
  background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
  background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
  opacity: 1;
}

#webInfluencer{
word-break: break-all;
}

.userInstaPost{
float:left;
    break-inside: avoid-column;
}


#commScore{
    font-size:13px !important;
}
#location_button {
    margin-left:-15px;
}

#leadsOwnerPic {
    width:40px;
       float:left;

}

#leadsOwnerDetails {
    /*margin-left:-120px;
    display: inline-block;*/
}

#leadsPicture{
    float:left !important;
}

#leadsPost{
    padding:20px 20px 0px 20px;
}

#instagramUserDropdown{
margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#instaUserButton{
    background-color: transparent;
    border: 1px solid white;
        color:white;

}
#bg-nested-dropdown{
        background-color: transparent;
    color:white;
}
#followButton {
    background:linear-gradient(to right, #bf7d67 0%, #b71d6d 0%, #c67620 120%, #721661 100%) !important;
    border-color:transparent;
}
.likingListButtons {
    background:linear-gradient(to right, #bf7d67 0%, #b71d6d 0%, #c67620 120%, #721661 100%) !important;
    border-color:transparent;
}

#like-comment-form {
        display: -webkit-inline-box;
}

.kl-background{
    background-color:white;
}
.userFFinfo{
    margin-top:30px;
}

#advWarning{
    font-size: 12px;
    line-height:12px;
}

.commenters {
word-break: break-all;
}

.notification {
    padding: 10px;
    margin-top: 4px;
}

#influencersForm{
    height:45em;
}

#like-comment-button:disabled{
    background: green !important;
}

.info-box-icon {
    width: 50px !important;
    height:62px !important;
    line-height: 65px !important;
    font-size: 37px !important;
    background-color: white ;

}

.info-box-content{
    margin-left: 50px;
}

.info-box{
    min-height: 65px !important;
}
#statTiles{
    margin-top:15px;
}

.postContainer {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

.recentlyLikedContainer {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

.breadcrumb{
    background: inherit !important;
}
#recentlyLikedPanel {
    margin: auto !important;
}
@media (max-width:769px)
{
    .postContainer {
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
}

.recentlyLikedContainer{
        -moz-column-count: 1 !important;
    -moz-column-gap: 10px  !important;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 10px  !important;
    column-count: 1  !important;
    column-gap: 10px  !important;
}}



select {
    text-align-last: center;
}


#loginScreen {
    background: url('../static/img/logo-big.jpg');
    background-position: bottom left;
    background-color: #e6e7e9;
    background-repeat: no-repeat;
    min-height:100%;
    position: absolute;
    width: 100% !important;
}

.login-logo a, .register-logo a {
    color: #444444e8 !important;
}

.login-logo {
    padding: 20px;
}


#smithx-crumbs {
    font-size: 20px;
    font-style: italic;
    color: #444444e8;
}

.leadsUserPhoto {
        background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    height:30px;
    width:30px;
    margin-top:5px;
}


.mediaInfo {
        padding-left: 25px;
    padding-bottom: 10px;
}
.userName {
    color:black; font-weight:600;
}
.userNameDiv {
    margin-bottom: -3px;
}
.userName:hover {
    color:black; font-weight:600;
}

.mediaBox {
    border: 8px solid rgb(236, 240, 245);
    background-color: #fff;
    break-inside: avoid-column;
}

.leadsMediaPhoto {
    width:100%;
}

.mediaHeader {
    padding-top:10px;
    padding-left:10px;
}

.glyphicon-heart-empty{
    font-size:25px;
}

.mediaFooter{
    margin-top:5px;
    padding:5px;
}

.mediaDesc{
    font-size:15px;
    display:inline-block;
    white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP printers */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
word-break: break-all;

}

.leadsResult{
    column-count:3;
}

.channelResult {
    column-count:1;

}
@media screen and (min-width : 320px) {
    .leadsResult{
    column-count:1;
}
}
@media screen and (min-width : 1024px) {
        .leadsResult{
    column-count:3;
}


.glyphicon-send{
top:-3px;}
}

.commentForm{
    margin-top:10px;
    margin-bottom:20px;
}

#like-comment-button {

    background-color: #bc3a4f !important;
    border-color:transparent;
    height:27px;
}

.react-datepicker{
    font-size: 1.1rem !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 130px !important;
}

#user_details {
    width: 100em !important;
}

.dropdown-menu > li > a {
    height: 50px !important;
    padding: 3px 5px !important;
}

.postDescription{
    padding-left:30px;
    padding-right: 30px;
}
.recentlyLikedDescription {
    padding-left:12px;
    padding-right: 12px;
}
.likesCountDescription{
        font-size: 15px;
    padding-left: 3px;
    font-weight: 600;
}

#graphPostDetails{
    float: right;
}

#followingListDiv{
        /*position: absolute;*/
    margin-top: 350px;
}

.react-bs-table-tool-bar > .row > .col-xs-6.col-sm-6.col-md-6.col-lg-4 {
    width:100%;
}

.recentlyLikedContainer{
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

.react-datepicker__input-container{
    width:100% !important;
}

.react-datepicker-wrapper{
    display: inherit !important;
}

.user-header {
    height:auto !important;
}

.map {
    position: inherit !important;
}

#user-icon {
    font-size:20px;
    line-height: 20px;
    margin-left:25%;
}

.chips {
    display: inline-block;
    height: 32px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.remove-chip {
    cursor: pointer;
    float: right;
    font-size: 22px;
    line-height: 32px;
    padding-left: 8px;
}

.ReactTags__tagInputField{
    width:100% !important;
    height: 30px !important;
}

.dropdown-username {

    padding-top: 8px;
    padding-left: 5px;
    font-weight: 700;
    color: dimgrey;
    display: inline-flex;
}
.prehrana{
    width: 60%;
    margin-left: 20%;
}
@media (max-width: 767px){
.skin-purple .main-header .navbar .dropdown-menu li.user-footer a {
    color: white !important;
    background-color: #3c8dbc !important;
    width:100% !important;
}

.prehrana{
    width: 90%;
    margin-left: 5%;
}

#loginScreen {
    background: unset;
}
}
.dropdown-menu {
    width: max-content !important;
min-width: unset !important;
}


.login-form {
    color:#444444e8;
}

.login-box {
    background: rgba(255,255,255,0.8);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.login-box-body {
    background-color: rgba(255,255,255,0.5) !important;
    margin-top: -50px;

}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: rgba(0, 0, 0, 0.87); }
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: justify; }
    header.masthead .header-content h1 {
      font-size: 30px; }
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    header.masthead .device-container .screen img {
      border-radius: 3px; }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead .header-content {
        margin-bottom: 0;
        text-align: left; }
        header.masthead .header-content h1 {
          font-size: 50px; }
      header.masthead .device-container {
        max-width: 325px; } }

section.download {
  position: relative;
  padding: 150px 0; }
  section.download h2 {
    font-size: 50px;
    margin-top: 0; }
  section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px; }
    section.download .badges .badge-link:last-child {
      margin-bottom: 0; }
    section.download .badges .badge-link img {
      height: 60px; }
    @media (min-width: 768px) {
      section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    section.download h2 {
      font-size: 70px; } }

section.features .section-heading {
  margin-bottom: 100px; }
  section.features .section-heading h2 {
    margin-top: 0; }
  section.features .section-heading p {
    margin-bottom: 0; }

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto; }

section.features .device-container {
  margin-bottom: 100px; }
  @media (min-width: 992px) {
    section.features .device-container {
      margin-bottom: 0; } }

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  section.features .feature-item h3 {
    font-size: 30px; }
  section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: linear-gradient(to left, #7b4397, #dc2430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }



footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222; }
  footer p {
    font-size: 12px;
    margin: 0; }
  footer ul {
    margin-bottom: 0; }
    footer ul li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3); }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
        text-decoration: none; }

.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539); }

.text-primary {
  color: #fdcc52; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.card-img {
    margin-bottom: 10px;
}

.main-sidebar {
    position: fixed !important;
}

.profile-round-picture {
        width:100%;
}

@media (max-width:480px)
{
    .profile-round-picture {
      display:none;
}

.notif__container {
    top: inherit !important;
    bottom: 0;
    max-width: 100% !important;
}

.notif__message {
    font-size: 21px !important;
}

.main-sidebar {
    padding-top: 100px !important;
}
 }

.skin-purple .sidebar-menu > li > a {
    border-left: 0px !important;
}

.user-block .description {
    margin-top: 3px;
}

.fa.fa-spinner.fa-pulse.fa-3x.fa-fw{
    background: -webkit-linear-gradient(right, #bf7d67 0%, #b71d6d 0%, #c67620 120%, #721661 121%);
    -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;

}

#private-dataset {
background: rgba(255, 255, 255, 0.88);  /* fallback for old browsers */
    font-weight: 900;
    border-radius: 1%;
    color:rgba(0,0,0,0.7);
}
#public-dataset thead {
    background-color: rgba(0,0,0,0.1);
}
#private-dataset thead {
    background-color: rgba(0,0,0,0.1);
}
#public-dataset {
background: rgba(255, 255, 255, 0.88);  /* fallback for old browsers */
    font-weight: 900;
    border-radius: 1%;
    color:rgba(0,0,0,0.7);
}

.btn.btn-default.btn-secondary.dropdown-toggle {
background-color: rgba(0,0,0,0.05);
color: rgba(0,0,0,0.7);
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.7);
    border-color: transparent;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 1px !important;
}

.form-group.form-group-sm.react-bs-table-search-form > .form-control{
    color:black;
    background:transparent;
}

.form-group.form-group-sm.react-bs-table-search-form > .form-control::placeholder{
    color:rgba(0,0,0,0.7);
}

.table-action-button {
    background: black;
    color:white !important;
}

.small-box {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) !important;
}

.notif__container {
    top: inherit !important;
    bottom: 0;
    max-width: 80% !important;
}

.notif__message {
    font-size: 25px;
}


.skin-purple .sidebar-menu > li > .treeview-menu{
    background: #2c3b41;
}

.dataset-tile {

    margin: 20px !important;
}
.from-public-tile{
    background: #333;
    color:white;
}

.from-public-tile > .icon{
    color: rgba(255,255,255,0.8);
}

.datasetNameChannel {
    font-size: 22px;
    margin: 5px;
     display: block;
      text-align: center;
}

.slick-prev, .slick-next {
    top: 0% !important;
    width: 30px !important;
    height: 30px !important;
}
.slick-prev:before, .slick-next:before {
    color: #000000 !important;
    font-size: 30px !important;
}

.slick-prev{
    left: 0px !important;
}

.slick-next{
    right: 0px !important;
}

.slick-slider {
    padding-top: 15px !important;
}

.showMoreIcon {
    font-size: 60px;
    display:table;
    margin:0 auto;
    cursor: pointer;
}

.channelSettings {
    display: inline;
    float: right;
    margin-top: 5px;
    margin-right: -7px;
    cursor: pointer;

}

#addANewChannelButton {
    background: #7f7f7f !important;
    float: left;
}

#addANewChannelButton:hover {
    color: white !important;
}

#addANewChannelButton:focus {
    color: white !important;
}

.panel-default {
    margin-top: 20px;

}

#deleteChannelButton {
    background: #444 !important;
    float:left;
}

#deleteChannelButton:hover {
    color: white !important;
}
#deleteChannelButton:focus {
    color: white !important;

}

#updateChannelButton {
    background: #bc3a4f !important;
    float:right; 
}

#updateChannelButton:hover {
    color: white !important;
}
#updateChannelButton:focus {
    color: white !important;

}

.wellNotification{
    background: white;
    color: black;
    font-weight: 800;
}

.material-add-button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 60px;
    margin-right: 20px;
        padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: fixed;
    bottom: 0px;
    right: 0px; 
    vertical-align: bottom;
    background: #bc3a4f !important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    height: 56px;
    width: 56px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}

.plusIconButton{
    color: white;
    font-size: 28px;
    margin-top: 2px;
}

.btn-automatedLiking {
    background-color: #bc3a4f !important;
    color:white !important;
}

.btn-automatedLiking:hover {
    background-color: #bc3a4f !important;
    color:white !important;
}
.btn-automatedLiking:focus {
    background-color: #bc3a4f !important;
    color:white !important;
}
.btn-automatedLiking:active {
    background-color: #bc3a4f !important;
    color:white !important;
}

.btn-automatedLiking:disabled {
    color:white;
    opacity: 1 !important;
    background-color: #bd4446 !important;
}

.bg-white {
    color: #333333;
    background-color: white;
    border: solid 1px #3333;

}
.progress-bar{
    background-color: #808080 !important;
}

.content-wrapper {
    min-height: 87 vh;
}

.btn-white {
    background: #eaeaea !important;
    color: #636060 !important;
}

.btn-manageUser {
    background: linear-gradient(to right, #bf7d67, #c67620 104%, #72168D 72%) !important;
    color:white  !important;
}

.disabledMenuButtons{
    cursor: not-allowed !important;
}

.disabledMenuButtons > div {
    all: unset !important;
}

.disabledMenuButtons > div  > .panel-body {
    padding: initial !important;
}

.emptyChannel {
    text-align: justify;
    font-size: 13px;
    font-style: italic;
}

#registerPolicy {
    font-size: 12px; 
    text-align: center;
}

.fb-row {
    margin-bottom: 15px;
}


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.dateTimeMedia{
    font-size: 13px;
    font-style: italic;
}

.donation-date {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 20px;
}

.donation-location {
    font-size: 20px;

}

.badge-pill {
    font-size: 20px;
    padding: 12px;
    background: url('../static/img/drop.png');
    background-size: cover;
    border-radius: unset;
    background-position: center center;
    margin-top: -10px;
    padding-top: 16px;

}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');

.donation-transition { transition: .8s cubic-bezier(.3, 0, 0, 1.3) }
.donation-card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 275px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
  
}
.donation-card:hover {
    height: 425px;
}
.donation-card:hover .donation-cta-container {
    display: inline;
    margin-top: 380px;
}
.donation-card:hover .donation-card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
    background-position-y: 60px;

}
.donation-card:hover h2 {
    background: #3487f7;
    color: #fff;
    margin-top: 228px;
        padding: 5px;
}
.donation-card:hover h2 small { color: #fff }
.donation-card:hover p { margin-top: 300px }
.donation-card_circle {
    background: url('../static/img/logo-big.jpg') no-repeat center top;
    background-position-y: 211px;
    background-position-x: 25px;
    background-color: #3487f7;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -317px;
    position: absolute;
    width: 420px;
}
.donation-h2 {
    color: #3487f7;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.donation-p {
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 160px;
    position: absolute;
    text-align: center;
    z-index: 9999;
    width: 100%;

}
.donation-cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.donation-cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donation-wrapper {
    padding: 5px;
}


.alert-danger {
   background-color: #e05342fa !important
}


/* toggle */ 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* toggle */
  
  svg {
      width: 100%;
  }

  .recharts-wrapper {
      width: 100% !important;
  }

  #loading-icon {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      
  }

  .gold {
      background-color: gold !important;
  }

  .jumbotron {
    background-color: #ecf0f6 !important;
    padding: 0px !important;
  }