<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Social Management Instagram Tool">
    <meta name="author" content="SmihthX">

    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}"  type='image/x-icon'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200i,300,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,200i,300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">


    <title>SmithX</title>
    <link rel="manifest" href={% static 'site/manifest.json' %}>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% block styles %}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet"> {% endblock styles %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}



    <script>
         var previousPosition = window.pageYOffset || document.documentElement.scrollTop;

window.onscroll = function() {
  var currentPosition = window.pageYOffset || document.documentElement.scrollTop;

  if (previousPosition  >= currentPosition) {
    document.getElementsByClassName("navbar")[0].setAttribute("style", "display: inline;");
  } else {
    document.getElementsByClassName("navbar")[0].setAttribute("style", "display: none;")
  }

  previousPosition = currentPosition;
};
   </script>

</head>

<body>

    {% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: white;">
                {% block navbar-brand %}

                <img src="{% static 'site/img/logo5.png' %}" alt="logo" id="logo1">
                <a href="http://startupfactory2017.tehnopark.hr/" style="unset: all;" target="_blank">
                    <img src="{% static 'site/img/startup-factory-zagreb.png' %}" alt="logo" id="logo2"> 
                   </a>
                   {% endblock %}
            </a>
        </div>
        {% block navbar-menu %}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block navbar-left %}{% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
                {% block navbar-right %}

                <li>
                    <a href="/app/login">App login</a>
                </li>
                {% endblock %}
            </ul>
        </div>
        <!--/.nav-collapse -->
        {% endblock %}
    </div>
    {% endblock navbar %} {% block splash %} {% endblock splash %}



    <div class="new-jumbo">
        <div class=" pocetni-box">
            <div>
                <img src="{% static 'site/img/channels.gif' %}" alt="SmithX Intro" id="introGif" >

                <h4 id="poc-opis" style="color: white; font-size: 1.95rem; margin-top: 40px; font-weight: 300;  line-height: 1.4;">
                       <b>Discover leads on Instagram with ease!</b>

                </h4>

                <div class="row" style="margin: 0">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a href="/app/login" class="btn-round-transparent" style="margin-top: 30px;  min-width: 200px; max-width: 100%" role="button">Try now for free</a>
                     
                    </div>


                </div>

                <h4 id="poc-opis" style="color: white; font-size: 1.3rem; margin-top: 20px; font-weight: 300; padding: 0 80px; line-height: 1.4;">
                    By Signing up, you confirm that you are a brand (business owner) or advertiser (social media marketing agency)

                </h4>

                <!--h5 style="color: #eee">100% Free</h5-->
            </div>
        </div>
    </div>

    <!-- Benefits of the Django application -->

    <div class="sivi">
        <div class="container subs">
            <div class="objasnjenje">
                <!--div-- class="col-md-6" style="margin-top: 0px;">
                        <video loop autoplay controls="true" width='100%' height='100%'
                               src={% static "/site/img/video.mp4" %}>
                        </video>
                    </div-->

                <div class="col-md-12" style="text-align: center; margin-bottom: 50px;">
                   
                    <hr style="border: 0;
                          clear:both;
                          display:block;
                          width: 100%;
                          margin-top: 30px;
                          background-color:#d1cad6;
                          height: 1px;">

                    <div style="padding-bottom: 10px;">

                        <h3 style="line-height: 1.4;">
                            <b>SmithX</b> helps you take your
                            <b>Instagram management</b> to the
                            <b>next level
                            </b>. Say goodbye to hours wasted on repeated actions and hello to your
                            <b>personal Instagram-approved assistant</b>.
                        </h3>
                    </div>

                    <div class="row">
        

                        <div class="col-sm-4">
                            <img src={% static 'site/img/growth.png' %} style="width:85px;">
                            <h3>Channels</h3>
                            <ul class="dvatri">
                                <li>
                                    <b>High quality, location based  leads</b>
                                </li>
                                <li>
                                    Based on your
                                    <b>input and location</b>
                                </li>

                            </ul>

                        </div>

                        <div class="col-sm-4">
                            <img src={% static 'site/img/collaboration.png' %} style="width:85px;">
                            <h3>Multiple Instagram accounts</h3>
                            <ul class="dvatri">
                                <li>
                                    Handle
                                    <b>all your Instagram accounts</b>
                                </li>
                                <li>
                                    Easily switch between accounts
                                </li>

                            </ul>

                        </div>

                        <div class="col-sm-4">
                            <img src={% static 'site/img/like.png' %} style="width:85px;">
                            <h3>Track Areas</h3>
                            <ul class="dvatri">
                                <li>
                                    Create your <b>own custom area</b>
                                </li>
                                <li>
                                    Monitor area via Channels
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src={% static 'site/img/coding.png' %} style="width:85px;">
                        <h3>Image recognition</h3>

                        <ul class="dvatri">
                            <li>
                                <b>Find your brand via image recognition</b>
                            </li>
                            <li>
                                Make image recognition tool learn how your brand looks like
                            </li>

                        </ul>

                    </div>

                    <div class="col-sm-4">
                        <img src={% static 'site/img/photo-camera.png' %} style="width:85px;">
                        <h3>Post Scheduling</h3>
                        <ul class="dvatri">
                            <li>
                                <b>Prepare your posts and set time when to post!</b>
                            </li>
                            <li>
                                No more alarm clocks on Saturdays!
                            </li>
                        </ul>

                    </div>

                    <div class="col-sm-4">
                        <img src={% static 'site/img/analytics.png' %} style="width:85px;">
                        <h3>Automated mentions</h3>
                        <ul class="dvatri">
                            <li>
                                <b>Comment on your mentions based on sentiment value</b>
                            </li>
                            <li>
                                Act quickly on negative sentiment comments
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>




    <div class="container subs">
        <div class="row" style="margin-top: 40px;">


            <div class="col-md-12" style="text-align: center; margin-bottom: 50px">


                <h3 style="font-size: 3.5rem; text-transform: uppercase; letter-spacing: 2px; font-weight: 200; padding-bottom: 30px;">
                    Frequently asked questions: </h3>


                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    1) Can I get in trouble using SmithX?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                No.
                                <br> SmithX is strictly
                                <b>focused on following Instagram policies.</b>
                               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2) Can I control more than 5 profiles on SmithX?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                Yes,
                                <br> you can control
                                <b>as many profiles</b> as you want at once.
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    3) How much Channels can I set up?

                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-block">
                                <b>As many as you want!</b>
                           
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin: 60px  0;">
               
                <div class="col-md-12">
                    <h3>REGISTER AND TRY OUT THE BETA
                        <br> ( FREE ) </h3>
                    <hr style="border: 0;
                          clear:both;
                          display:block;
                          width: 72%;
                          margin-top: 27px;
                          margin-bottom: 12px;
                          background-color:#d1cad6;
                          height: 1px;">
                    <h5 style="margin-top: 0px;">Hurry up while there are free places!
                        <br>Try out all the features in Beta!</h5>
                    <hr style="border: 0;
                          clear:both;
                          display:block;
                          width: 72%;
                          margin-top: 17px;
                          margin-bottom: 12px;
                          background-color:#d1cad6;
                          height: 1px;">
                    <a href="/app/login" class="btn-round" style="margin-top: 22px;" role="button">Register</a>
                </div>

            </div>
        </div>
    </div>

    </div>
</div>





    <!-- Site footer -->
    {% block footer %}
    <!-- Some social button for contact will do -->
    <a name="contact"></a>
    <div class="container" style="padding-top: 60px;">
        <div class="row" id="footer" style="text-align: center">
            <div class="col-sm-2">
                <img src="{% static 'site/img/logo5.png' %}" alt="logo" style="height: 51px; margin-top: 7px; margin-bottom:12px;">
                <br> SmithX
            </div>
            <div class="col-sm-3 col-xs-4">
                <h4 style="color: white; text-transform: uppercase; font-size: 16px; margin-bottom: 20px">
                    SmithX
                </h4>
                <a href="/">
                    Home
                </a>
                <br>
                <a href="/app/home">
                    App
                </a>
                <br>

            </div>
            <div class="col-sm-3 col-xs-4">
                <h4 style="color: white; text-transform: uppercase; font-size: 16px; margin-bottom: 20px">
                    Support
                </h4>

                <br>
                <a href="/privacy">
                    Privacy Policy
                </a>
            </div>
            <div class="col-sm-3 col-xs-4">
                <h4 style="color: white; text-transform: uppercase; font-size: 16px; margin-bottom: 20px">
                    Connect
                </h4>

                <a href="/app/signup">
                    Sign up
                </a>
                <br>
                <a href="/app/login">
                    Login
                </a>
                <br>

            </div>



            <div class="col-sm-12 col-xs-12" style="text-align: center; margin-top: 40px;">
                <p>SmithX &copy; {% now 'Y' %}</p>
            </div>
            <div class="col-sm-12 col-xs-12" id="icon-creators" style="text-align: center; ">
                Icons made by
                <a style="color:white;" href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a>,
                <a style="color:white;" href="http://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez
                </a>,
                <a style="color:white;" href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a>
                from
                <a style="color:white;" href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
                <a style="color:white;" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>

        </div>
    </div>
    {% endblock %}

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'site/js/site.js' %}"></script>

    <script>
        (function (h, e, a, t, m, p) {
            m = e.createElement(a);
            m.async = !0;
            m.src = t;
            p = e.getElementsByTagName(a)[0];
            p.parentNode.insertBefore(m, p);
        })(window, document, 'script', 'https://u.heatmap.it/log.js');
    </script> {% block scripts %} {% endblock scripts %}
    <script>
        $("#footer").css({ "color": "white" });
        $("h1, h2, h3, h5").css({ "font-weight": 200 });

        $("#footer > .col-sm-3 > a").css({
            "color": "white",
            "margin-bottom": "10px",
            "display": "inline-block",
            "font-size": "14px"
        });
        $(".fa").css({ "font-size": "24px", "color": "white" })
    </script>




    <script>


        // ZOOM
        document.firstElementChild.style.zoom = "reset";
        //Onemoguci
        $(document).ready(function () {
            $(document).keydown(function (event) {
                if (event.ctrlKey == true && (event.which == '107' || event.which == '109' || event.which == '187' || event.which == '189')) {
                    event.preventDefault();
                }
            });

            $(window).bind('mousewheel DOMMouseScroll', function (event) {
                if (event.ctrlKey == true) {
                    event.preventDefault();
                }
            });
        });


        var affiliate_input = $("#id_affiliated_by");

        if (affiliate_input.length > 0) {
            affiliate_input.hide();
            $("label[for=id_affiliated_by]").hide();

            var aid = getCookie("aid");
            if (aid != "") {
                affiliate_input[0].value = aid;
            }
        }


        $(document).ready(function () {
            //JUMBO HEIGHT
            var jumbo_height = 0.0;
            var jumbo = $(".new-jumbo");
            jumbo.children().each(function () {
                jumbo_height += $(this).outerHeight(true)
            });
            jumbo.height(jumbo_height * 0.88 + 2 * $(window).width() / parseFloat($("body").css("font-size")));
        });

    </script>

    <script>
        $('textarea')[0].style.borderColor = "#d6d6d6";

        //collapsable
        $('.card-header > h5 > a').on("click", function () {
            setTimeout(function () {
                var otvoreni = $("a[aria-expanded='true']");
                for (var i = 0; i < otvoreni.length; ++i) {
                    otvoreni[i].parentNode.parentNode.parentNode.className += " collapse-otvoreni";
                }

                var zatvoreni = $("a[aria-expanded='false']");
                for (var i = 0; i < zatvoreni.length; ++i) {
                    zatvoreni[i].parentNode.parentNode.parentNode.className = "card";
                }
            }, 50);

        });

        $(".objasnjenje > .col-sm-4").css({ "margin-bottom": "50px" });
        $(".objasnjenje > .col-sm-4 > h5").css({ "color": "#576072", "line-height": "1.5" });

        $("body").css({ "background-color": "rgba(136, 18, 120, 0.88)" });
        $(".testimonials").css({ "background": "none", "margin-top": "70px", "margin-bottom": "70px" });
        $(".testimonial > .col-md-9 > h3").css({ "color": "white" });
        $(".testimonial > .col-md-9 > h4").css({ "color": "white" });

        $("#icon-creators").remove();


        $(".alert-success").hide();

        $(document).ready(function () {
            //JUMBO HEIGHT
            var jumbo_height = 0.0;
            var jumbo = $(".new-jumbo");
            jumbo.children().each(function () {
                jumbo_height += $(this).outerHeight(true)
            });
            jumbo.height(jumbo_height * 0.76 + 2 * $(window).width() / parseFloat($("body").css("font-size")));
        });
    </script>

</body>

</html>