<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="SmithX">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200i,300,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,200i,300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/19518a0901.js"></script>
    <!-- If you'd like to support IE8 -->
    <link rel="manifest" href={% static 'site/manifest.json' %} >

    <title>SmithX - Privacy Policy</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% block styles %}
        <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock styles %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

        {% block navbar %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: white;">
                    {% block navbar-brand %}
                        <img src="{% static 'site/img/logo5.png' %}" alt="logo"
                             style="height: 48px; margin-top: -17px; margin-left:13px; margin-right: 12px;">
                        SmithX
                    {% endblock %}
                </a>
            </div>
            {% block navbar-menu %}
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block navbar-left %}{% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
                            {% block navbar-right %}
                              
                                        <li><a href="/app/login">App login</a></li>
                            {% endblock %}
                        </ul>
                </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    {% endblock navbar %}
    

{% block splash %}
{% endblock splash %}

<br/>
<br/>
<br/>
<div class="teaser">
    <div class="row">
        <div class="col-md-12" style="text-align: right">
            <a class="btn-round" href="/" style="margin-top: 30px;"
            role="button">Go to smithx.io</a>
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <img src={% static '/site/img/logo5-sivi.png' %} style="height: 55px;">
            <hr>
        </div>
        <div class="col-md-4"></div>


        <div class="col-md-12" style="text-align: center; margin-bottom: 40px;">
            <h1 style="margin-left: 30px; margin-right: 30px;
            margin-bottom: 10px;
            font-size: 5.5rem; font-family: 'Oswald', sans-serif;
            line-height: 1.4; letter-spacing: 2.5px; " id="naslov">
                SmithX Privacy Policy<br>
            </h1>
            <h5>Effective date: March 1st 2017</h5>
        </div>

        <!--hr style="border: 0;
              clear:both;
              display:block;
              width: 100%;
              margin-top: 0px;
              background-color:#d1cad6;
              height: 1px;"-->

    </div>

    <div class="row teaser-sivi">
        <div class="row" style="margin: 22px; font-weight: 100;" id="privacy-content">
            <h2>Introduction</h2>
            <h4 style="font-weight: 100;">
                This privacy policy has been compiled to better serve those who are concerned with how their
                'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy
                law and information security, is information that can be used on its own or with other information
                to identify, contact, or locate a single person, or to identify an individual in context. Please
                read our privacy policy carefully to get a clear understanding of how we collect, use, protect or
                otherwise handle your Personally Identifiable Information.<br><br>
                This Privacy Policy describes how and when SmithX collects, uses and shares SmithX Data when you
                use the Services. SmithX receives your information through our Website, Platforms and
                Applications.<br><br>
                With this Privacy Policy SmithX are committed to protecting
                the privacy of all individuals who:<br><br>

                <ul>
                    <li> visit any websites or mobile sites offered by SmithX, including without limitation
                        <a href="http://SmithX.com">SmithX.com</a>,
                        and including all subdomains, present and future (the “Website”);
                    <li> use the desktop software/mobile applications that SmithX makes available (the
                        "Applications");
                    <li> use the Services including: Free, Personal Brand Package, Business Owner Package, Social
                        Media
                        Marketing Agency Package and other SmithX products and services (the "Platforms"); and
                    <li> when we talk about “Personal Data”, we mean information relating to you or other
                        identifiable
                        individuals.
                </ul>

                In order to make SmithX policy easier to read, we call the Website, the Applications and the
                Platforms together the "Services". When we talk about “Personal Data”, we mean information relating
                to you or other identifiable individuals.<br><br>
                It is SmithX' policy to respect your privacy and the privacy of all users of the Services
                regarding any information we may collect while you are operating our Website or using our Services.
                We have established this Privacy Policy in order for you to understand our commitment to protecting
                your privacy and personal data, and the steps we take to ensure it. By visiting and/or using any of
                the Services, you agree to be bound by the terms of the present Privacy Policy (the “Privacy
                Policy”). Where the present Privacy Policy refers to “SmithX ”, it may refer to the Services or to
                SmithX depending on the context.<br><br>
                SmithX reserves the right, at our sole discretion, at any time, to modify or replace the Privacy
                Policy. The most recent version of the Privacy Policy is available at <a
                    href="http://SmithX.com/legal/privacy">SmithX.com/legal/privacy</a>.
                Please check the Privacy Policy periodically for changes. We will notify you of any material changes
                to our Privacy Policy by Posting the new Privacy Policy on our Site or via email or other direct
                electronic communication method of any changes that, in our sole discretion, materially impact your
                use of the Services or the treatment of your Personal Data. By continuing to access or use our
                Service after those revisions become effective, you agree to be bound by the revised terms. If you
                do not agree to the new terms, in whole or in part, please stop using the website and the Service.

            </h4>
            <br>


            <h2>
                Data and Customer Content
            </h2>
            <h4 style="font-weight: 100;">
                We collect Personal Data (such as account information and registration) from our customers and users
                of the Services for our own purposes. We use the Personal Data to provide and manage the Services
                (“SmithX Data”).  We’re the data controller in respect of this information.
            </h4>
            <br>


            <h2>
                Data we receive or collect 
            </h2>
            <h4 style="font-weight: 100;">
                When you first register for a SmithX account, and when you use the Services, we collect some
                Personal Data about you such as:<br><br>
                <ul>
                    <li>your full name, and email address and other contact details
                    <li>the geographic area where you use your computer and mobile devices
                    <li>a unique SmithX user ID (an alphanumeric string) which is assigned to you upon
                        registration
                    <li>other optional information as part of your account profile 
                    <li>your IP Address and, when applicable, timestamp related to your ansent and confirmation of
                        ansent
                    <li>other information submitted by you or your organizational representatives via various
                        methods
                        (phone, email, online forms, surveys, in-person meetings, etc)
                    <li>your billing address and any necessary other information to complete any financial
                        transaction,
                        and when making purchases through the Services, we may also collect your credit card or
                        PayPal
                        information
                    <li>images or other files that you may publish via our Services
                    <li>information we may receive relating to communications you send us, such as queries or
                        comments
                        concerning our Services
                    <li>information relating to an individual’s real time location.
                </ul>

                <br>
                SmithX also automatically collects and receives certain information from your computer or mobile
                device, including the activities you perform on our Website, the Platforms, and the Applications,
                the type of hardware and software you are using (for example, your operating system or browser), and
                information obtained from cookies (see “Cookies and Related Technologies” below). For example, each
                time you visit the Website or otherwise use the Services, we automatically collect your IP address,
                browser and device type, access times, the web page from which you came, the regions from which you
                navigate the web page, and the web page(s) you access (as applicable).

            </h4>
            <br>


            <h2>
                How we use SmithX Data
            </h2>
            <h4 style="font-weight: 100;">
                SmithX uses SmithX Data for the following general purposes: <br><br>
                <ul>
                    <li>to identify you when you login to your account
                    <li>to enable us to operate the Services and provide them to you
                    <li>to verify your transactions and for purchase confirmation, billing, security, and
                        authentication
                    <li>to analyze the Website or the other Services and information about our visitors and users,
                        including research into our user demographics and user behaviour in order to improve our
                        content
                        and
                        Services
                    <li>to contact you about your account and provide customer service support, including responding
                        to
                        your comments and questions
                    <li>to share aggregate (non-identifiable) statistics about users of the Services to prospective
                        advertisers and partners
                    <li>to keep you informed about the Services, features, surveys, newsletters, offers, contests
                        and
                        events we think you may find useful or which you have requested from us
                    <li>to sell or market SmithX products and services to you
                    <li>to better understand your needs and the needs of users in the aggregate, diagnose problems,
                        analyze trends, improve the features and usability of the Services, and better understand
                        and
                        market
                        to our customers and users
                    <li>to keep the Services safe and secure.
                </ul>
                <br>
                We use non-identifiable information collected for statistical purposes to keep track of the number
                of visits to the Services and in order to introduce improvements and improve usability of the
                Services. We may share this type of statistical data with our partners in order to help them
                understanding how often people use the Services, and so that they could provide you with the best
                possible service.

            </h4>
            <br>


            <h2>
                Assent
            </h2>
            <h4 style="font-weight: 100;">
                By visiting our Website and providing information to, or by using any of the Services, or submitting
                or collecting any Personal Data via the Services, you assent to the collection, transfer, storage
                disclosure, and use of your Personal Data in the manner set out in this Privacy Policy. If you do
                not assent to the use of your Personal Data in these ways, please stop using the Services.
            </h4>
            <br>


            <h2>
                Tracking Technologies
            </h2>
            <h4 style="font-weight: 100;">
                SmithX uses tracking technology (“cookies”) on the Website, in the Applications, and in the
                Platforms, including desktop software and mobile application identifiers and a unique SmithX user
                ID to help us understand your preferences based on previous or current Website and Services
                activity, compile aggregate data about Website and Services traffic and interaction so that we can
                offer better Website and Services experiences and tools in the future, recognize you across
                different Services, to monitor usage and web traffic routing for the Services. By visiting the
                Website or using the Services you agree to the use of cookies in your browser and HTML-based emails.
                Cookies are small files that a site or its service provider transfers to your computer's hard drive
                through your Web browser (if you allow) that enables the site's or service provider's systems to
                recognize your browser and capture and remember certain information.<br><br>
                The Services use “session cookies”, which improve your user experience by storing certain
                information from your current visit on your device, such as log-in information. These enable us to
                remember your log-in session so you can move easily within the Website or the other Services.
                Without these session cookies, we wouldn’t be able to provide the Services to you. These session
                cookies have limited functionalities and expirations, and you will be required to re-enter your
                SmithX log-in information after a certain period of time has elapsed to protect you against others
                accidentally accessing your account contents and related Personal Data. Other examples of our use of
                session cookies include to track the number of visits by a particular visitor to a page and to store
                items in an online shopping cart for the Shop.

            </h4>
            <br>


            <h2>
                Performance and Remarketing Cookies
            </h2>
            <h4 style="font-weight: 100;">
                Partners who help us serve advertising on and off the Website and analytics companies may also put
                cookies on your device. We may share with third-party ad partners a cryptographic hash of a common
                account identifier (such as an email address), to help us measure and tailor ads and services
                provided to you. Below is information about one such vendor. Please note that this Privacy Policy
                covers only our use of cookies and does not include use of cookies by any third parties.<br><br>
                <ul style="font-style: italic">
                    i)                Google Analytics 
                </ul>

                SmithX uses a specific cookie in order to facilitate the use of Google Universal Analytics for
                users logged-in to the Applications or the Platforms (“Logged-In User). If you are a Logged-In User,
                SmithX may use your SmithX user ID in combination with Google Universal Analytics and Google
                Analytics to track and analyze the pages of the Services you visit.  We do this only to better
                understand how you use the Website and the other Services, with a view to offering improvements for
                all SmithX users; and to tailor our business and marketing activities accordingly, both generally
                and specifically to you. Google Analytics cookies do not provide SmithX with any Personal
                Data.<br><br>
                <a href="http://www.google.com/analytics/learn/privacy.html">Learn more about privacy at Google and
                    to opt-out of this feature by installing the Google Analytics
                    Opt-out Browser Add-on.</a><br><br>
                SmithX uses other third-party performance and remarketing cookies, and further information on
                those third-party cookies can be obtained by <a href="mailto:info@SmithX.com">contacting us</a>.
                <br><br>
                SmithX may also use related technologies including web beacons, pixels, and software tokens in
                order to facilitate your use of the Services. Most notably, the Services use software tokens (stored
                securely on SmithX-controlled servers) in order to facilitate the logging in to and the
                functioning of both the Supported Platforms and Third-Party Apps.<br><br>
                Most computer and some mobile web browsers automatically accept cookies but, if you prefer, you can
                change your browser to prevent that or to notify you each time a cookie is set. Further information
                can be found at <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>.
                Please note that if you turn
                cookies off, some of the features that make your Website and Services experience more efficient may
                not function properly and you may not be able to take full advantage of the Website, Applications
                and Platforms.

            </h4>
            <br>


            <h2>
                When we may share Personal Data
            </h2>
            <h4 style="font-weight: 100;">
                Except as provided in this Privacy Policy, SmithX does not share or give any Personal Data
                gathered via the Services (including Customer Content) to third parties.<br><br>
                Notwithstanding anything in the Privacy Policy to the contrary, we may share any information we have
                collected about you or Customer Content:<br><br>
                (1) where we are legally required to do so,<br><br>
                (2) if we believe it is necessary to investigate, prevent, or take action regarding illegal
                activities, fraud, or situations involving potential threats to the rights, property, or personal
                safety of any person;<br><br>
                (3) if we believe it is necessary to investigate, prevent, or take action regarding situations that
                involve abuse of the Services infrastructure or the Internet in general;<br><br>
                (4) to a parent company, subsidiaries, joint ventures, or other companies under common control with
                SmithX;<br><br>
                (5) if we are acquired by or merged with another entity (in which case we will require such entity
                to assume our obligations under this Privacy Policy or inform you that you are covered by a new
                privacy policy); and<br><br>
                (6) if this information is not private, is aggregated or is otherwise non-Personal Data, such as
                your public user profile information and related public data (such as Instagram posts, likes, etc.)
                or the number of users who clicked on a particular link (even if only one did so).<br><br>
                Subject to obligations consistent with this Privacy Policy, we may also disclose information to our
                affiliates, agents, contractors, and service providers in order to facilitate the functioning of the
                Services or to perform tasks that are integral to the Services, such as processing transactions,
                fulfilling requests for information, or providing support services or other tasks, from time to
                time. Information may also be transferred from SmithX to the third parties, but only to the extent
                required in order for the Services to function properly.

            </h4>
            <br>


            <h2>
                Minimum age
            </h2>
            <h4 style="font-weight: 100;">
                Our Services should only be accessed by individuals of Minimum Age. “Minimum Age” depends on where
                the individual accesses the services. “Minimum Age” shall mean (a) 14 years old for the United
                States, Canada, Germany, Spain, Australia, and South Korea; and (b) 13 years old for all other
                countries. However, if applicable law requires that you must be older than such ages in order for
                SmithX to lawfully provide the Services to you (including the collection, storage, and use of your
                information in accordance with this Privacy Policy), then the Minimum Age would be such older age.
                The Services are not designed nor intended for use by children or anyone else under the age of 13.
            </h4>
            <br>


            <h2>
                Security
            </h2>
            <h4 style="font-weight: 100;">
                We use industry best practices to keep any information collected and/or transmitted to the
                Third-Party Apps secure. This includes the use of HTTPS with SSL (Secure Sockets Layer), which
                encrypts all transmitted data, and OAuth 2.0 protocols for authentication and data transfer to
                Supported Platforms and Third-Party Apps.<br><br>
                Certain Personal Data, most notably SmithX log-in details, is encrypted during transmission using
                SSL. Once validated within our system, passwords are deleted from our system. In addition, SmithX
                uses third-party vendors and hosting partners such as DigitalOcean to provide the necessary hardware,
                software, networking, storage, and related technology required to run the Services. These vendors
                have been selected for their high standards of both physical and technological security, including
                SOC 1 Type II, SOC 2 Type II, SOC 2 Type II, SOC 3, PCI-DSS and ISO 27001 certifications.<br><br>
                When payments are processed via credit card, SmithX uses third-party vendors that are PCI-DSS
                Compliant. At no point does SmithX have access to your credit card information.
                You should bear in mind that submission of information over the Internet is never entirely secure. 
                We cannot guarantee the security of information you submit via the Services whilst it is in transit
                over the Internet and any such submission is at your own risk, and this risk is specifically
                disclaimed in our Terms.
                <br><br>

                If you are a Logged-in User, it is advisable that you log out of your account at the end of every
                session and not leave a logged-in account unattended for any period of time, particularly if you use
                a shared computer or device.

            </h4>
            <br>


            <h2>
                Information storage and international transfers
            </h2>
            <h4 style="font-weight: 100;">
                SmithX, the entity which provides the Services, is a Croatian company with its head-office
                located in Zagreb. For the purposes of EU data protection law, Croatia is a part of the 28 EU
                countries and three EEA member countries and the effect of this decision is that personal data can
                flow to that third country without any further safeguard being necessary. Croatia is considered a
                country which provides adequate protections for Personal Data, as confirmed by the <a
                    href="http://ec.europa.eu/justice/data-protection/international-transfers/adequacy/index_en.htm">European
                Commission.</a><br><br>
                The Services are mainly provided from our offices in Croatia. However, by the very nature of the
                Services, the data that is viewed, collected, stored or posted on or through the Services also needs
                to flow from wherever you are located in the world, to where our Supported Platforms are storing the
                same data (i.e. in most cases, in the United States). In addition, SmithX uses third-party service
                providers (such as managed hosting providers, card processors, CRM systems, sub-processors of
                Customer Content and technology partners) to provide the necessary hardware, software, networking,
                storage and other services that we use to operate the Services. These third party providers may
                process, or store, the same Customer Content on servers outside of the EEA.<br><br>
                By using any of the Services, or submitting or collecting any Personal Data via the Services, you
                authorize SmithX and its authorized service partners to use and process Customer Content and
                SmithX Data (including any Personal Data) in these countries. Please be aware that the privacy
                protections and the rights of authorities and Government agencies to access your Personal Data in
                some of these countries may not be equivalent to those in your country.

            </h4>
            <br>


            <h2>
                For our customers with a principal location in the EU:
            </h2>
            <h4 style="font-weight: 100;">
                If you primarily use the Services within the EU, we will process Customer Content (which may include
                Personal Data) as a data processor on your behalf. Under EU law, you are considered to be the data
                controller of the Customer Content, and as such you are responsible for complying with applicable
                data protection laws in respect of the processing of Customer Content and the lawful instructions
                you give us.<br><br>
                To facilitate the lawful transfer by you of your Customer Content (as a data controller) through the
                Services to outside the EEA, SmithX is offering its EU customers a data processing agreement as an
                addendum to their existing SmithX agreement (“Data Processing Addendum”). This incorporates the
                European Commission’s Standard Contractual Clauses (processors) of 2010 (also known as “model
                processor clauses” or "SCC 2010”).<br><br>
                Please note that the Data Processing Addendum only applies to the extent there is not another legal
                basis in place to validate the transfer of Personal Data to outside the EEA.
                The Data Processing Addendum and some FAQs are available to all of our Customers.  If you would like
                to incorporate the Data Processing Addendum into your existing agreement with SmithX, please email
                us and we will promptly send you SmithX' Data Processing Addendum for you to complete, sign and
                return to us.<br><br>
                If you have any questions, please feel free to <a href="mailto:info@SmithX.com">contact us</a>.


            </h4>
            <br>


            <h2>
                Email preferences
            </h2>
            <h4 style="font-weight: 100;">
                You may opt out of marketing communications sent by SmithX by managing your email preferences on
                our Preferences Management page, or by following the unsubscribe instructions included in each
                marketing email.
            </h4>

            <br>


            <h2>
                Your rights
            </h2>
            <h4 style="font-weight: 100;">
                You can <a href="mailto:info@SmithX.com">contact us</a> to obtain a copy of the Personal Data held about you by us. This may be subject
                to a fee not exceeding any prescribed fee permitted by applicable law. You can also ask us to
                correct and, where relevant, erase that information. Please note that certain Personal Data may need
                to be retained by SmithX for a period of time following cancellation of your account where this is
                necessary for our legitimate business purposes or required or authorized by applicable law. As
                mentioned above you have a right to change your email preferences at any time.<br><br>
                You should be aware that SmithX acts as a conduit between our users and the various Supported
                Platforms and Third-Party Apps. In several instances, the content published via SmithX will not be
                in SmithX' custody or control, and any content that has been shared by you through any Supported
                Platform or Third-Party Apps via the Services may continue to be available to third parties and the
                public at large, as this content is now under the control of the operators of the Supported
                Platforms and/or the Third-Party Apps.

            </h4>

            <br>


  
        </div>

    </div>

    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <img src={% static '/site/img/logo5-sivi.png' %} style="height: 50px; margin-top: 30px;">
            <hr>
        </div>
        <div class="col-md-4"></div>


    </div>
</div>



</body>
</html>





