{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmithX</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIgWUszDO8-mgxuU9ikkhRwuWqaS6KZIM&libraries=places"></script>
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets.css" %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/0.56.0/react-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/react-vis/dist/style.css">
    <script type="text/javascript" src="https://unpkg.com/react-vis/dist/dist.min.js"></script>
    <link rel="manifest" href={% static 'site/manifest.json' %}>

</head>

<body>
    <noscript>This application requires javascript to function.</noscript>
    <div id="root"></div>
    <script src="{% static "vendor.bundle.js" %}"></script>

    <script src="{% static "js/bundle.js" %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116845179-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116845179-1');
    </script>

</body>

<script src="{% static "js/bundle.js" %}"></script>
</body>

</html>