<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Krv je život</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/0.56.0/react-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/react-vis/dist/style.css">
    <script type="text/javascript" src="https://unpkg.com/react-vis/dist/dist.min.js"></script>

</head>
<body>
<script src="{% static "js/vendor.bundle.js" %}"></script>
<script src="{% static "js/bundle.js" %}"></script>

<div id="root"></div>

</body>
</html>
